{% extends 'base.html' %}

{% block head %}
<title>Notes - Account</title>
<link rel="stylesheet" href="static/style.css">
{% endblock %}

{% block main %}

<p class="category">Account informations</p>
<div class="dashb_main">
    <div class="dashb_resources">
        <label class="dashb_info" for="username">Username</label>
        <input type="text" disabled class="dashb_info" id="username" placeholder="{{ user.username }}">
    </div>
    <div class="dashb_resources">
        <label class="dashb_info" for="mail">Mail</label>
        <input type="mail" disabled class="dashb_info" id="mail" placeholder="{{ user.mail }}">
    </div>
    <div class="dashb_resources">
        <label class="dashb_info" for="togleable">UUID</label>
        <div style="display: block;">
            <input style="justify-content: center; align-items: center;" type="password" disabled id="togleable " value="{{ user.uuid }}">
            <input style="justify-content: center; align-items: center;" type="checkbox" onclick="togglePasswordVisibility()">
        </div>
    </div>
</div>

{% endblock %}