<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="static/script.js"></script>
    {% block head %}
    {% endblock %}
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Notes</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" href="/new?uuid={{ user.uuid }}">Create Note</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/notes?uuid={{ user.uuid }}"">My Notes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/account?uuid={{ user.uuid }}">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/signout">Sign Out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/login">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/signup">Sign Up</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="flashs">
            {% with flashs = get_flashed_messages(with_categories=true) %}

            {% if flashs %}

            {% for category, flash in flashs %}

            <div class="alert alert-{{ category }}">
                {{ flash }}
            </div>

            {% endfor %}

            {% endif %}

            {% endwith %}
        </div>
    </div>

    {% block main %}
    {% endblock %}




</body>

</html>